Analysis of Car Advertisement Data

 Introduction                  

This Jupyter Notebook conducts an exploratory data analysis (EDA) of a dataset containing car advertisement information. The dataset is loaded and filtered to provide insights into specific car models and their advertisements. Additionally, a price analysis is performed, visualizing the distribution of prices based on selected categorical variables. Furthermore, the notebook explores the relationship between car prices and various factors such as odometer readings, fuel type, and cylinder count, taking into account the age categories of the vehicles. Follow along to gain valuable insights into the patterns and trends present in the car advertisement data.

First, we import the necessary libraries we will need for the exploratory data analysis:

In [1]:
import pandas as pd
import streamlit as st
import plotly.express as px

Next, we need to load the data set and display the first 10 rows:

In [13]:
df = pd.read_csv('vehicles_us.csv')
df.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

We can see from the table above that there several categories including things such as price, model, number of cylinders etc. These are the categories that we will further break down to create our graphs to be able to see the distribution of sales better. Now let's start pre-processing the data.

Let's check for missing values in the dataset:

In [14]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

The price, model, condition, fuel, transmission, type, date_posted and listed all having missing values indicated above. Let's fill in the missing values with the median for the model_year, cylinders and odometer columns:

In [24]:
df['model_year'].fillna(df['model_year'].median(), inplace=True)
df['cylinders'].fillna(df['cylinders'].median(), inplace=True)
df['odometer'].fillna(df['odometer'].median(), inplace=True)
df.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
9,9200,2008.0,honda pilot,excellent,6.0,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,113000.0,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13

That looks much cleaner! Now let's further process our dataset and drop NaN values in the other columns:

In [26]:
columns_to_exclude = ['model_year', 'cylinders', 'odometer']
df_cleaned = df.dropna(subset=[col for col in df.columns if col not in columns_to_exclude])
print("DataFrame after dropping NaN values:")
df_cleaned.head(10)

DataFrame after dropping NaN values:

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
9,9200,2008.0,honda pilot,excellent,6.0,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,113000.0,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13

And there we have it! Our data is cleaned and pre-processed and ready for the next step! Now we can start making our Streamlit website by using our imported package streamlit as st. Throughout writing code, we will check and frequently refresh the site to make sure everything looks good. To do this, all you have to do is open Terminal and run the command "streamlit run car_ad.py"

We will first create a title and header for our website as follows:

In [27]:
st.header('Car Advertisement Data')
st.write(''' #### Filter the data below to see the ads by manufacturer''')

Now, let's create a drop-down box to filter the data set by 'model', to do so we first need the unique number of values:

In [28]:
models_choice = df['model'].unique()

We can use the st.selectbox function within Streamlit to create a drop-down:

In [29]:
make_choice_model = st.selectbox('Select Model:', models_choice)

That looks good! Right now after re-freshing our website we should see a title, header and a drop-down with the 'model' values from out dataset. Next, we'll make a slider in Streamlit. The st.slider function specifically creates a slider widget that allows users to interactively choose a range of values by dragging a slider handle:

In [31]:
min_year, max_year = int(df['model_year'].min()), int(df['model_year'].max())
year_range = st.slider('Choose year:', value=(min_year, max_year), min_value=min_year, max_value=max_year)
actual_range = list(range(year_range[0], year_range[1]+1))

What's happening here? Let's break down this code together:


1. 'min_year, max_year = int(df['model_year'].min()), int(df['model_year'].max()): This line calculates the minimum and maximum values of the 'model_year' column in the DataFrame df. It converts these values to integers and assigns them to the variables min_year and max_year.

2. 'year_range = st.slider('Choose year:', value=(min_year, max_year), min_value=min_year, max_value=max_year): This line creates a slider using Streamlit (st.slider). The slider allows users to choose a range of years. The label for the slider is 'Choose year:', and the initial range is set to the values of min_year and max_year. Users can select a range of years between min_year and max_year.

3. 'actual_range = list(range(year_range[0], year_range[1]+1)): This line creates a list of integers representing the actual range of years selected by the user using the slider. It uses the range function to generate a sequence of numbers from the starting year (year_range[0]) to the ending year (year_range[1] + 1). The +1 is used to include the ending year in the range.

Now let's filter the data based on model and selected year range:

In [32]:
df_filtered = df[(df['model'] == make_choice_model) & (df.model_year.isin(list(actual_range)))]
st.table(df_filtered)

DeltaGenerator()

This code filters the original DataFrame based on the selected car model (make_choice_model) and a range of model years (actual_range). The resulting filtered DataFrame is then displayed in a table using Streamlit.

Now that we have created several ways for the user to filter the data, let's make some graphs that will display the price analysis and distribution of the car advertisement data. Begin by creating a header for Price Analysis:

In [34]:
st.header('Price Analysis:')

DeltaGenerator()

Don't forget to continously refresh the website by either refreshing at the top or running 'streamlit run car_ad.py' in Terminal.

Now we will make another drop-down for selecting the variable in the price distribution for the histogram we will create:

In [35]:
list_for_hist = ['transmission', 'type', 'fuel', 'condition']
choice_for_hist = st.selectbox('Split for price distribution:', list_for_hist)


list_for_hist = ['transmission', 'type', 'fuel', 'condition']: This line creates a list named list_for_hist that contains four strings - 'transmission', 'type', 'fuel', and 'condition'. These strings likely represent different categories or types of data in a DataFrame.

choice_for_hist = st.selectbox('Split for price distribution:', list_for_hist): This line uses Streamlit's selectbox function. It creates a dropdown box (a box that you can click and choose from a list) with the label 'Split for price distribution:' and options taken from the list_for_hist. The user can choose one of the options from the dropdown.

The code sets up a dropdown menu that asks the user to choose a category ('transmission', 'type', 'fuel', or 'condition') for splitting the data when analyzing the distribution of prices. This selected choice will be used later in the code for creating a histogram to visualize how prices are distributed within the chosen category.

Creating the histogram and displaying it:

In [36]:
fig1 = px.histogram(df, x='price', color=choice_for_hist)
fig1.update_layout(title='<b> Split of price by {}</b>'.format(choice_for_hist))
st.plotly_chart(fig1)

DeltaGenerator()

Let's breakdown this code:

fig1 = px.histogram(df, x='price', color=choice_for_hist): This line uses the plotly.express library to create a histogram (fig1). A histogram is a type of chart that shows the distribution of a dataset. Here, it's showing how prices (x='price') are distributed. The color parameter is set to choice_for_hist, which is the category the user selected earlier (like 'transmission', 'type', 'fuel', or 'condition'). This means the histogram will have different colors for each category, helping you see how prices vary within each category.

fig1.update_layout(title='<b> Split of price by {}</b>'.format(choice_for_hist)): This line updates the layout of the figure (fig1). It adds a title to the histogram, and the title is dynamic – it includes the chosen category for splitting the data (like 'transmission', 'type', 'fuel', or 'condition').

st.plotly_chart(fig1): Finally, this line uses Streamlit's plotly_chart function to display the created histogram (fig1) in the Streamlit app.

Our final chart for theis data set will be a scatterplot. We will define a function 'age category' for the price distribution of this plot. Let us define x = age of the car:

In [37]:
df['age'] = 2023 - df['model_year']

def age_category(x):
    if x < 5:
        return '<5'
    elif 5 <= x < 10:
        return '5-10'
    elif 10 <= x < 20:
        return '10-20'
    else:
        return '>20'

df['age_category'] = df['age'].apply(age_category)

The function categorizes the age into different groups:

1. If the age is less than 5 years, it returns '<5'.
2. If the age is between 5 (inclusive) and less than 10, it returns '5-10'.
3. If the age is between 10 (inclusive) and less than 20, it returns '10-20'.
Otherwise, for ages 20 years and above, it returns '>20'.

Now let's make our drop down...

In [38]:
list_for_scatter = ['odometer', 'fuel', 'cylinders']
choice_for_scatter = st.selectbox('Price dependency on:', list_for_scatter)

... And create our scatterplot!

In [39]:
fig2 = px.scatter(df, x='price', y=choice_for_scatter, color='age_category', hover_data=['model_year'])
fig2.update_layout(title='<b>Price vs {}</b>'.format(choice_for_scatter))
st.plotly_chart(fig2)

DeltaGenerator()

Conclusion

In this project, we were able to create a website that allowed the user to filter car advertisements based on the model of the car as well as the model year. We also create a histogram that showed the price distribution by transmission, type, fuel and condition of the car. We then created a scatterplot that analyzed price by odmeter mileage, fuel and number of cylinders. We were also able to show the age range on the scatterplot. 

A use can come to many conclusions from this site. Some of those include disel cars being the most expensive and the more cylinders a car has the older it was, and the more expensive it was. Hopefully, this site will be able to help anyone trying to buy a car in the near future.